<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="f.css">
    <title>ballet form</title>
</head>
<body>
    <div class="start">
        <div id="h"><h1>Vote Form</h1></div>
        <div id="vote">
            <center>
                <table>
                    <form>
                    
                    <tr>
                        <td><input type="radio" name="1st" value="4st con"class="check"><span class="s"/>PRASHANT</span></td>
                        <td><img src="./pen.jpg" alt="pen"></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="1st" value="2nd con"class="check"><span class="s"/>TARUN</span></td>
                        <td><img src="./pen.jpg" alt="pen"></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="1st" value="3rd con"class="check"> <span class="s">DEERAJ</span></td>
                        <td><img src="./pen.jpg" alt="pen"></td>
                    </tr>
                    </form>
                </table>
            </center>
        </div>
    </div>
</body>
</html>