@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body { 
  background: url('images/Elections.jpg ') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
  text-align: center;
}

form{
  padding-top: 100px;
}

h1{
  color: #333C83;
}

.text{
  font-family: Montserrat;
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
}

#imagecss{
  padding: 10px;
  border:2px solid black;
  border-radius: 2px;
  width: 30%;
}
#headersection{
  padding: 5px;
}

#headersection h1{
  font-family: "Ubuntu";    
}
input{
  padding: 10px;
  border-radius: 5px;
}
#dropbox{
  padding: 5px;
  border-radius: 5px;
}
#loginbtn{
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  background-color: #371B58;
  font-size: 15px;
  color: white;
}

img{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}
#address {
  height: auto;
}